/*Universal Indicators*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    box-sizing:border-box;
    
}
/*Navbar with flexbox impllemented*/
.links{
    display: flex;
    padding: 5px;
    background-color :rgb(68, 12, 96);
    justify-content: left;
}
.items{
    display: flex;
    margin: 15px;
    padding: 15px;
    text-decoration: none;
    color: rgb(252, 240, 255);
    font-size:larger;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 70px;
    align-items: flex-end;
    justify-content: flex-end;
    

}
.items:hover{
    background-color: rgb(43, 14, 69);
}
/* Flex Container(Parent element) */
.Main_Content_Area{
    display: flex;
    background-color: rgba(229, 144, 229, 0.273);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(141, 45, 145);
    flex-direction:column-reverse;
    justify-content: center;
    flex: 1;
}

.flex_image{
    display: inline-flex;
    background-color: rgb(68, 12, 96);
    justify-content: center;
}
/*footer with flexbox implemented*/
.footer{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(68, 12, 96);
}